    <div class="container">
  
  
      <!--     nav bar -->
      <div class="navbar">
  
        <ul style="padding-left: 0px;">
  
          <li class="logo"> <a href="#"> rosa swaby  </a> </li>
  
          <section class="div_navbar_items">
            <li class="navbar_items"> <a href="#home"> home </a> </li>
            <li class="navbar_items"> <a href="#about_me"> about me </a> </li>
            <li class="navbar_items"> <a href="#skills"> skills </a> </li>
            <li class="navbar_items"> <a href="#projects"> projects </a> </li>
            <li class="navbar_items"> <a href="#contact"> contact </a> </li>
          </section>
  
          <li class="icon">
            <a href="#" onclick="navBarFunction()"> &#9776;</a>
          </li>
        </ul>
      </div>
    </div>