<div class="instagram-images">
    <div class="insta">
      <p>on instagram</p>
    </div>
    <div class="insta-images">
      <a  href="https://www.instagram.com/bonjoe_electronics/" target="_blank"><img src="https://img.freepik.com/free-photo/smartphones-balancing-with-blue-background_23-2150271748.jpg?w=740&t=st=1679745553~exp=1679746153~hmac=52bc07a08b1ad52bfcab79d35cd6490913b3982e1e6b91d33514f3f15fea95be" alt="cake image"> </a>
      <a href="https://www.instagram.com/bonjoe_electronics/" target="_blank"><img src="https://img.freepik.com/free-photo/cool-earphones-with-blue-background_23-2150271766.jpg?w=740&t=st=1679745629~exp=1679746229~hmac=acdc9cdc35e9e31c7a65ab6e16d2b4ba5da5c340f49b47fc8b95ce71a19dcdec" alt="cake image"></a>
      <a href="https://www.instagram.com/bonjoe_electronics/" target="_blank"><img src="https://img.freepik.com/premium-photo/music-sound-two-loudspeaker-enclosure-red-headphone-isolated_662322-700.jpg?w=740" alt="cake image"></a>
      <a href="https://www.instagram.com/bonjoe_electronics/" target="_blank"><img src="https://img.freepik.com/premium-photo/tv-white-background-isolated-3d-illustration_356060-2579.jpg?w=740" alt="cake image"></a>
      <a href="https://www.instagram.com/bonjoe_electronics/" target="_blank"><img class="mwiso" src="https://img.freepik.com/premium-photo/3d-rendering-grey-new-fridge-isolated-white_493806-4972.jpg?w=740" alt="cake image"></a>
    </div>
  </div>