<div class="slideshow-container">

    <div class="mySlides fade">
      <img src="../../../assets/images/slider/home1-slider1.png" style="width:100%">
    </div>
    
    <div class="mySlides fade">
      <img src="../../../assets/images/slider/home1-slider2.png" style="width:100%">
    </div>
    
    <div class="mySlides fade">
      <img src="../../../assets/images/slider/home1-slider3.png" style="width:100%">
    </div>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>