 .contact-form {
	 width:100%;
	 display: flex;
	 justify-content: space-between;
	 background: #fff;
	 margin: 6% 0;
	 padding: 0 60px;
}
 .contact-form > * {
	 width: 50%;
}
 .contact-form .first-container {
	 background: linear-gradient(45deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://img.freepik.com/free-photo/view-smartphone-desk-with-assortment-items_23-2149404184.jpg?w=360&t=st=1679712554~exp=1679713154~hmac=d228d9e57c0c605730173755a65f09119e1f33e14ba7e4518eecfc2f58e7d394") center center / cover no-repeat;
	 display: flex;
	 justify-content: center;
	 align-items: center;
}
 .contact-form .first-container .info-container div {
	 margin: 24px 0;
}
 .contact-form .first-container .info-container div h3 {
	 color: coral;
	 font-size: 25px;
	 font-weight: 800;
	 line-height: 1.2;
	 padding-bottom: 10px;
}
 .contact-form .first-container .info-container div:first-of-type p {
	 max-width: 260px;
     font-size: 22px;
	 color: #999;
}
 .contact-form .first-container .info-container div p a{
	 font-size: 22px;
	 line-height: 1.6;
	 color: #fff;
     text-decoration: none;
}
 .contact-form .second-container {
	 padding: 30px;
}
 .contact-form .second-container h2 {
	 font-size: 30px;
	 font-weight: 400;
	 color: #000;
	 line-height: 1.2;
	 text-align: center;
	 margin-bottom: 20px;
}
 .contact-form .second-container form {
	 display: flex;
	 flex-direction: column;
}
 .contact-form .second-container form .form-group {
	 margin-bottom: 10px;
}
 .contact-form .second-container form .form-group * {
	 min-height: 55px;
	 border: 1px solid #e6e6e6;
	 padding: 0 20px;
}
 .contact-form .second-container form .form-group label {
	 display: flex;
	 align-items: center;
	 width: 100%;
	 border: 1px solid #e6e6e6;
	 font-size: 16px;
	 color: #000;
	 text-transform: uppercase;
	 margin-top: -1px;
}
 .contact-form .second-container form .form-group:first-of-type input {
	 width: 50.1%;
	 margin-right: -5px;
}
 .contact-form .second-container form .form-group input {
	 width: 100%;
	 font-size: 15px;
	 margin-top: -2px;
}
 .contact-form .second-container form .form-group input::placeholder, .contact-form .second-container form .form-group textarea::placeholder {
	 color: #999;
}
 .contact-form .second-container form .form-group textarea {
	 width: 100%;
	 min-height: 80px;
	 resize: none;
	 padding: 10px 20px;
	 margin-top: -1px;
}
 .contact-form .second-container form button {
	 width: 200px;
	 height: 50px;
	 background: coral;
	 color: #fff;
	 font-size: 17px;
	 font-weight: 600;
	 text-transform: capitalize;
	 border: 0;
	 position: relative;
	 left: calc(50% - 100px);
	 cursor: pointer;
}
 .contact-form .second-container form button:hover {
	 background: transparent;
     border: 1px solid coral;
     color: coral;
}
 @media screen and (max-width: 800px) {
	 .contact-form {
		 width: 90vw;
	}

	.contact-form .second-container form .form-group label {
		display: flex;
		align-items: center;
		width: 100%;
		border: 1px solid #e6e6e6;
		font-size: 12px;
		color: #000;
		text-transform: uppercase;
		margin-top: -1px;
   }
}
 @media screen and (max-width: 700px) {
	 .contact-form {
		 flex-direction: column-reverse;
	}
	 .contact-form > * {
		 width: 100%;
	}
	 .contact-form .first-container {
		 padding: 40px 0;
	}

	.contact-form {
		width:100%;
		display: flex;
		justify-content: space-between;
		background: #fff;
		margin-top: 50px;
		padding: 0;
   }
}
 